// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
$primary-color: #1895fe;
@import "arctic_admin/base";

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }

.index_as_block {
  display: flex;
  flex-wrap: wrap;

  .resource_selection_toggle_panel {
    flex-basis: 100%;
    margin-bottom: 16px;
  }

  .book-item {
    display: flex;
    width: 25%;

    .resource_selection_cell {
      margin-right: 8px;
    }

    .book-img {
      display: block;
      text-align: center;
      margin-top: 8px;

      img {
        box-shadow: 0px 0px 4px 4px rgba(0,0,0,.2);
      }

      h2 {
        margin-top: 4px;
      }
    }
  }
}
